# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
docker/main/src/backend/.idea/**/workspace.xml
docker/main/src/backend/.idea/**/tasks.xml
docker/main/src/backend/.idea/**/dictionaries
docker/main/src/backend/.idea/**/shelf

# Sensitive or high-churn files
docker/main/src/backend/.idea/**/dataSources/
docker/main/src/backend/.idea/**/dataSources.ids
docker/main/src/backend/.idea/**/dataSources.local.xml
docker/main/src/backend/.idea/**/sqlDataSources.xml
docker/main/src/backend/.idea/**/dynamic.xml
docker/main/src/backend/.idea/**/uiDesigner.xml

# Gradle
docker/main/src/backend/.idea/**/gradle.xml
docker/main/src/backend/.idea/**/libraries

# CMake
docker/main/src/backend/cmake-build-debug/
docker/main/src/backend/cmake-build-release/

# Mongo Explorer plugin
docker/main/src/backend/.idea/**/mongoSettings.xml

# File-based project format
docker/main/src/backend/*.iws

# IntelliJ
docker/main/src/backend/out/

# mpeltonen/sbt-idea plugin
docker/main/src/backend/.idea_modules/

# JIRA plugin
docker/main/src/backend/atlassian-ide-plugin.xml

# Cursive Clojure plugin
docker/main/src/backend/.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
docker/main/src/backend/com_crashlytics_export_strings.xml
docker/main/src/backend/crashlytics.properties
docker/main/src/backend/crashlytics-build.properties
docker/main/src/backend/fabric.properties

# Editor-based Rest Client
docker/main/src/backend/.idea/httpRequests

# My config
*.py[cod]
*.so
*.egg
*.egg-info
docker/main/src/backend/.idea/*


# dependencies
frontend/node_modules

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
